@import "reset";

$blue: #224f74;
$white: #fafafafa;

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto");
}

body {
  font-family: "Roboto", sans-serif;
}

.promo-2013,
.promo-2018,
.promo-2020 {
  display: none;
}

h1,
h2 {
  text-align: center;
  background: $blue;
  padding: 20px;
  color: $white;
}

h2 {
  width: 400px;
  margin: 0 auto;
}

li {
  list-style-type: none;
  text-align: center;
}

ul {
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.classroom,
.teachers {
  li {
    width: 220px;
    background: $blue;
    margin: 20px auto;
    padding: 10px;
  }
}

.networks_links {
  display: flex;
  flex-direction: row;

  li {
    width: 100px;
    text-align: center;
  }

  a:hover {
    color: $white;
  }
}

h4 {
  color: $white;
  font-size: 20px;
}

.teaching {
  li {
    font-size: 20px;
    width: 150px;
    text-align: center;
    color: $white;
  }
}

.tools {
  a {
    font-size: 20px;
    padding: 8px;
    background-color: $blue;
    color: $white;
  }
}

.github {
  background-image: url(../img/github.svg);
  background-position: center;
  background-size: cover;
  height: 50px;
  font-size: 0px;
  padding: 20px;
}

.linkedin {
  background-image: url(../img/linkedin.svg);
  background-position: center;
  background-size: cover;
  height: 50px;
  font-size: 0px;
  padding: 20px;
}

.outro {
  margin: 10px auto;
  background-color: $blue;
  color: $white;
  padding: 10px;
  text-align: justify;
}

.miw_contact {
  background-color: $blue;
  color: $white;

  h4 {
    font-size: 25px;
    padding: 5px 20px;
    text-align: center;
  }

  li {
    word-wrap: break-word;
  }

  * {
    padding: 5px;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  img {
    width: 150px;
    height: 150px;
    padding: 10px;
  }

  .classroom {
    max-width: 992px;

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .miw_contact {
    li {
      text-align: justify;
    }
  }
}

@media screen and (min-width: 1024px) {
  .students,
  .sidebar {
    display: table-cell;
    text-align: center;
  }
  .teachers {
    margin-left: 80px;
  }
}

@media print {
  * {
    background-color: $white;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $blue;
  }

  .tools,
  .footer,
  .teachers {
    display: none;
  }

  .students {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      * {
        padding: 0;
        margin: 0;
      }

      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}
